
.ideas {
  position: relative;
  overflow: hidden;
}

.banner {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative; 
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.8);
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-text {
  position: relative;
  z-index: 1;
}

.post-list-container {
  background-color: white;
}

ul {
  align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    list-style: none;
    padding: 50px;
}

h6 {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-img {
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.post-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 250px;
}

p {
  color: grey;
  margin-bottom: 10px;
}

.bottom {
  padding: 20px;
}

.sort-and-show {
  display: flex;
  gap: 40px;
}

label {
  color: black;
  gap: 10px;
  display: flex;
  align-items: center;
}

select {
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: "\25BC"; 
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none; 
  font-size: 16px; 
  color: rgba(80, 75, 72, 0.92);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button.active {
  background-color: #E96024;
  border-radius: 8px;
  height: 40px;
  width: 30px;
  color: #fff;
}
.page-info{
  color: black;
}
.information-top{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}
.image-container{
  height: 50%;
}
.banner-text p{
  color: white;
}
.loading-container{
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
	.information-top{
    flex-direction: column;
    gap: 30px;
  }
}